/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-myblock-gallery-block {
	background-color: #21759b;
	color: #fff;
	padding: 2px;
}

.gallery-container {
    display: grid;
    gap: 16px;
}

.gallery-item {
    position: relative;
    overflow: hidden;
}

.gallery-item img {
    transition: transform 0.3s ease;
}

.gallery-item:hover img {
    transform: scale(1.05);
}
